# Script for testing the service
- Sending requests with parts of data

In [10]:
import pandas as pd
from requests import request

service_url = "http://localhost:5000"

### 1. Load data

In [11]:
raw = pd.read_csv("../data/train.csv")
raw.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2. Request function

In [12]:
def send_request(df):
    if "survived" in df.columns:
        df = df.drop("survived", axis=1)
    d = df.to_dict(orient="records")
    res = request("POST", url=service_url, json=d)
    return res

### 3. Tests

#### 3.1 All passengers

In [27]:
res = send_request(raw)
res.json()[:10]

[0.11431192268845952,
 0.9169370141497821,
 0.4010098786528831,
 0.889780889139304,
 0.20941935732863648,
 0.1973128836041359,
 0.40525365395811463,
 0.22535857477199414,
 0.5114765094838225,
 0.8265523318971312]

#### 3.2 One passenger

In [42]:
for _ in range(10):
    res = send_request(raw.sample(n=1))
    print(res.json())

[0.3599843671118542]
[0.8412897809381391]
[0.7023662684775053]
[0.11780721141973802]
[0.2891708387494003]
[0.38593244570409696]
[0.4371137993561344]
[0.18046527399500506]
[0.5440360628870871]
[0.4059651985268076]

#### 3.3 Subset passengers

In [43]:
for _ in range(10):
    res = send_request(raw.sample(n=10))
    print(len(res.json()))

10
10
10
10
10
10
10
10
10
10